<!-- views/reset.handlebars -->

<section id="wrapper2">
  <a href="/"><article id="logo_login"></article></a>

  <section id="resetSection">
   
    <form id="reset" action="/reset/:token" method="post">
      <input type="password" name="password" placeholder="Password" required class="resetInput"/>
      
      
      <p></p>

      <input type="password" name="password" placeholder="Confirm Password" required class="resetInput"/>
      
      
      
      <input type="submit" class="btn btn-primary btn-sm subBtn" value=""/>
      
    </form>
    
  </section>

</section>