

<section id="main"> 
	<section id="toolBar">
		
		<article id="view"> = </article>
		<a href="new/NewExperiment.html"> <article id="new"> + </article> </a>
		<article id="del"> # </article>
		
	</section>
</section>
